body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: Arial;
}

/* Hidden Webcam */
video {
  display: none;
}

/* Info Text */
#info {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  color: rgb(244, 16, 16);
  z-index: 100;
  font-size: 24px;
}

/* Start Menu */
.start-menu {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 20px;

  z-index: 100;
}

/* Bottom Menu */
.bottom-menu {
  position: absolute;

  bottom: 20px;
  left: 22%;

  transform: translateX(-50%);
  transform: scale(0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;

  z-index: 100;
}

button {
  padding: 18px 40px;
  font-size: 24px;

  border: none;
  border-radius: 12px;

  cursor: pointer;

  background: rgba(255,255,255,0.9);
  opacity: 0.7;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
  opacity: 1.0;
}

#strengthControls {
  display: none;
  position: absolute;
  top: 70px;
  right: 20px;
  gap: 12px;
  align-items: center;
  z-index: 1000;
}

#strengthControls button {
  font-size: 18px;
  padding: 12px 18px;
  border-radius: 12px;
}

#strengthDisplay {
  color: white;
  font-size: 20px;
  min-width: 40px;
  text-align: center;
}